.card {
    background-color: black;
    border: 2px solid rgb(143, 143, 143);
    /* Subtract border width so card size stays same (ty Dad) */
    margin: -2px;
    border-radius: 8px;
    height: 0;
    overflow: hidden;
    display: inline-block;
    transition: 0.05s ease transform, 0.05s ease box-shadow, 0.05s ease filter;
    opacity: 1;
}

/* hard code 3 grid rows required to allow overlay */
.card:nth-child(3n-2) {
    grid-row: 1;
}
.card:nth-child(3n-1) {
    grid-row: 2;
}
.card:nth-child(3n) {
    grid-row: 3;
}

/* hard code 7 grid columns required to allow overlay */
.card:nth-child(-n+3) {
    grid-column: 1;
}
.card:nth-child(-n+6):nth-child(n+4) {
    grid-column: 2;
}
.card:nth-child(-n+9):nth-child(n+7) {
    grid-column: 3;
}
.card:nth-child(-n+12):nth-child(n+10) {
    grid-column: 4;
}
.card:nth-child(-n+15):nth-child(n+13) {
    grid-column: 5;
}
.card:nth-child(-n+18):nth-child(n+16) {
    grid-column: 6;
}
.card:nth-child(-n+21):nth-child(n+19) {
    grid-column: 7;
}

/* Add appear animation to new cards */
.card:nth-child(n+13):not(.card-disappear):not(.card-appear) {
    animation-name: cardappear;
    animation-duration: 2s;
}

.grid:not(.grid-lock) .card {
    cursor: pointer;
}

.grid:not(.grid-lock) .card:hover:not(.selected-card) {
    transform: scale(105%);
    box-shadow: 1.5px 1.5px 1px 2px rgb(214, 214, 214);
}

.grid.grid-lock .card:not(.selected-card) {
    filter: brightness(0.85);
}

.grid:not(.grid-lock) .card.selected-card {
    filter: brightness(0.85);
    box-shadow: 1.5px 1.5px 1px 2px rgb(214, 214, 214);
    transform: scale(105%);
    cursor: inherit;
}

.card img {
    object-fit: contain;
}

.card-answer {
    border: 4px solid rgb(143, 143, 143);
    /* Subtract border width so card size stays same (ty Dad) */
    margin: -4px;
}

.card-wiggle {
    animation-name: cardwiggle;
    animation-duration: 1s;
    transition-duration: 1s;
}

.card-disappear {
    animation-name: carddisappear;
    animation-duration: 4s;
}

.card-appear {
    animation-name: cardappear;
    animation-duration: 1s;
}

@keyframes cardwiggle {
    0% { transform: rotate(9deg); } 
    10% { transform: rotate(-8deg); } 
    20% { transform: rotate(7deg); } 
    30% { transform: rotate(-6deg); } 
    40% { transform: rotate(5deg); } 
    50% { transform: rotate(-4deg); } 
    60% { transform: rotate(3deg); } 
    70% { transform: rotate(-2deg); } 
    80% { transform: rotate(1deg); } 
    90% { transform: rotate(0deg); } 
    100% { transform: rotate(0deg); }
}

@keyframes carddisappear {
    0% {
        opacity: 1;
        transform: translateY(0);
        max-width: 400px;
    }
    25% {
        opacity: 0;
        transform: translateY(-20px);
        box-shadow: 1.5px 1.5px 1px 2px rgb(214, 214, 214);
        max-width: 400px;
    }
    /* 50% {
        opacity: 0;
        transform: translateY(-20px);
        box-shadow: 1.5px 1.5px 1px 2px rgb(214, 214, 214);
        max-width: 400px;
    } */
    100% {
        opacity: 0;
        transform: translateY(-20px);
        box-shadow: 1.5px 1.5px 1px 2px rgb(214, 214, 214);
        max-width: 0;
    }
}

@keyframes cardappear {
    0% {
        opacity: 0;
        transform: translateY(20px);
        max-width: 0;
    }
    50% {
        opacity: 0;
        max-width: 400px;
    }
    75% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}